- provide(:title, 'All lists')

%div.jumbotron
  %h2 All the lists
  %ul.list-lists
  - @lists.each_slice(3) do |groups|
    %div.row
      - groups.each do |list|
        .col-sm-6.col-lg-4
          %li= link_to "List name: #{list.name}", list_path(list)
  = will_paginate