- provide(:title, 'All lists')

%h2 All the lists
.wrapper
  .row
    - @lists.each do |list|
      .col-xs-12.col-md-4
        .lists
          .list-image
            =link_to list_path(list) do
              =image_tag Faker::Avatar.image('RIP aniki', '100x100', 'png', 'set4')
          .list-text
            %p= link_to list.name, list_path(list)
            %p Capacity: #{list.capacity}
            %p Location: #{list.location}
  = will_paginate