- provide(:title, 'Users')

.jumbotron
  .container
    %h2 Here are all the users in this list
    %h3= "This list has #{pluralize(@list.users.count, 'user')}"
    - @list.users.each_slice(3) do |groups|
      .row
        - groups.each do |user|
          .col-sm-4.col-lg-3.users-list
            %ul
              %li
                =image_tag Faker::Avatar.image('user', '100x100')
                %p= link_to "#{user.name}", user_path(user)