- provide(:title, 'About')
.center.jumbotron
  %h1 Pantripp app about
  %p This is the about page for the pantripp app
  %p Pantripp will let users create their lists where they can put the products they want.
  %p It is meant to be used as a pantry, to know in each moment what products you have in your pantry without needing to check it.
