@font-face {
  font-family: "Fluid Lighter";
  src: font_url('Fluid-Lighter.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uptown Market";
  src: asset-url('Uptown-Market.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Uptown Market Upright";
  src: asset-url('Uptown-Market-Upright.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Brewery";
  src: font_url('Art-Brewery.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

